html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar {
  background-color: #FFEFE7;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo p {
  font-size: 1.6rem;
  line-height: 4rem;
  padding-left: 3rem;
  color: #7C6A0A;
  font-weight: 400;
}
.navbar .icons {
  width: 22rem;
  display: flex;
  justify-content: space-around;
}
.navbar .icons button {
  border: none;
  background-color: transparent;
}
.navbar .icons .cart {
  margin-right: 4rem;
}

main article {
  width: 100%;
  color: #FFEFE7;
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .impact-section {
  height: auto;
  width: 50%;
  padding: 2rem;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .impact-section h1 {
  font-family: IBM Plex Sans;
  font-size: 5.4rem;
  color: #7C6A0A;
  text-align: center;
}
main .impact-section p {
  font-size: 2.3rem;
  color: #7C6A0A;
  text-align: center;
}
main .impact-section button {
  background-color: #FA9500;
  color: white;
  height: 7rem;
  width: 20rem;
  border-radius: 2rem;
  border: none;
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 5rem;
}
main section {
  width: 100%;
  height: auto;
}
main section h2 {
  color: #7C6A0A;
  font-size: 2rem;
}
main .image-section {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .image-section img {
  width: 40rem;
  height: 60rem;
  padding: 2rem;
  border-radius: 6rem;
}
main .product-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .product-section .healthcare {
  width: 80%;
}
main .product-section .healthcare h2 {
  color: #7C6A0A;
  font-size: 3.5rem;
  font-family: IBM Plex Sans;
  font-weight: 400;
  line-height: 65px;
}
main .product-section .healthcare .product-card {
  width: 15rem;
  height: auto;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 2rem;
  border-radius: 0.8rem;
  margin-left: 3rem;
  font-size: 1.5rem;
}
main .product-section .healthcare .product-card svg {
  position: relative;
  left: 90%;
}
main .product-section .healthcare .product-card img {
  width: 100%;
  border-radius: 1rem;
}
main .product-section .healthcare .card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 17rem;
  width: 100%;
}
main .product-section .furniture {
  width: 80%;
}
main .product-section .furniture h2 {
  color: #7C6A0A;
  font-size: 3.5rem;
  font-family: IBM Plex Sans;
  font-weight: 400;
  line-height: 65px;
  padding-top: 8rem;
  padding-bottom: 2rem;
}
main .product-section .furniture .product-card-section2 {
  width: 15rem;
  height: auto;
  background-color: #BABD8D;
  color: #FFFFFF;
  padding: 2rem;
  border-radius: 0.8rem;
  margin-left: 3rem;
  font-size: 1.5rem;
}
main .product-section .furniture .product-card-section2 svg {
  position: relative;
  left: 90%;
}
main .product-section .furniture .product-card-section2 img {
  width: 100%;
  border-radius: 1rem;
}
main .product-section .furniture .card-section_section2 {
  display: flex;
  flex-wrap: wrap;
  gap: 17rem;
  width: 100%;
}
main .info-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .info-section .about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
main .info-section .about-us .whyus {
  float: left;
  width: 100%;
}
main .info-section .about-us .whyus h2 {
  color: #7C6A0A;
  font-size: 4rem;
  font-family: IBM Plex Sans;
  font-weight: 500;
  line-height: 65px;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-bottom: 4rem;
}
main .info-section .about-us .images-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}
main .info-section .about-us .images-container .earth {
  display: flex;
  width: 50%;
  color: #E86424;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}
main .info-section .about-us .images-container .earth img {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  padding-right: 1rem;
}
main .info-section .about-us .images-container .innovation {
  display: flex;
  width: 50%;
  color: #E86424;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}
main .info-section .about-us .images-container .innovation img {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  padding-right: 1rem;
}
main .gallery {
  width: 90%;
  display: flex;
  flex-direction: column;
}
main .gallery .gallery-title {
  float: left;
  width: 100%;
}
main .gallery .gallery-title h2 {
  color: #7C6A0A;
  font-size: 4rem;
  font-family: IBM Plex Sans;
  font-weight: 500;
  line-height: 65px;
  padding-top: 5rem;
  padding-left: 3rem;
  margin-bottom: 7rem;
}
main .gallery .gallery-images {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .gallery .gallery-images .div img {
  width: 30rem;
  height: 47rem;
  border-radius: 2rem;
}
main .findus {
  width: 85%;
}
main .findus h2 {
  font-size: 4rem;
  font-weight: 500;
  padding-top: 5rem;
  margin-top: 9rem;
  margin-bottom: 7rem;
}
main .findus img {
  width: 100%;
  border-radius: 2rem;
  width: 120rem;
}
main .findus p {
  font-size: 3rem;
  color: #E86424;
  line-height: 4rem;
  padding-top: 2rem;
}
main .findus .p2 {
  font-size: 2rem;
  margin-bottom: 6rem;
}

footer {
  background-color: #FA9500;
  width: 92rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
footer .footer-titles {
  height: 80%;
  color: white;
  padding: 5rem;
  font-size: 2rem;
}
footer .social-media {
  float: inline-end;
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 3rem;
}

@media (max-width: 600px) {
  article {
    display: flex;
    flex-direction: column;
  }
  .impact-section {
    height: auto;
    display: block;
    background-color: rgba(141, 189, 175, 0.7176470588);
    border-radius: 2rem;
    font-size: 2rem;
    margin-bottom: 6rem;
  }
  .impact-section h1 {
    font-size: 2rem;
    color: black;
  }
  .impact-section .image-section {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    bottom: 10rem;
  }
  .product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .product-section .healthcare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5 rem;
  }
  .about-us {
    display: flex;
  }
  .about-us .whyus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us .images-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    float: left;
  }
  .about-us .images-container .earth {
    width: 32rem;
    display: flex;
    flex-direction: column;
  }
  .about-us .images-container .innovation {
    display: flex;
    flex-direction: column;
  }
  .gallery {
    display: flex;
    width: 100%;
  }
  .gallery .gallery-images {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
  .findus .map img {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  article {
    display: flex;
    flex-direction: column;
  }
  article .impact-section {
    width: 90%;
  }
  article .product-image img {
    width: 15rem;
  }
  .gallery {
    display: flex;
    width: 100%;
  }
  .gallery .gallery-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
  .gallery .gallery-images img {
    width: 100%;
  }
  .gallery .gallery-images .div {
    width: auto;
  }
  .gallery .gallery-images .div img {
    width: 20rem;
    height: 2rem;
  }
  .findus {
    width: 100%;
  }
  .findus .map {
    width: 100%;
  }
  .findus .map img {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */